{{ template "header.html" }}
        <button class="button buttonadd" onclick="runcode()">
            Add
        </button>
    <div class="computersdiv">
        
        <table>
            <caption></caption>
            <thead>
                <tr>
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>Country</th>
		    <th>Username</th>
                    <th>OS</th>
                </tr>
            </thead>
            <tbody>
		    {{ range .}}
                <tr>
                    <td>{{.Hostname}}</td>
                    <td>{{.Ip}}</td>
                    <td>{{.Country}}</td>
                    <td>{{.Username}}</td>
                    <td>{{.Os}}</td>
                </tr>
		    {{ end }} 
            </tbody>
        </table> 
    </div>
    <script>
        function runcode(){
            window.location = "/computer/add";
        }
    </script>
{{ template "footer.html" }}

